.copyright{
    height: 25px;
    background-color: black;
    width: 100%;
    color: azure;display: flex;
    align-items: center;
    justify-content: center;
    }
.copyright span{
    margin: 0 5px;
    font-size: 12px;
}

.copyright h6{
    font-size: 10px;
    font-weight: lighter;
}

